html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.wrapper .iframe {
  display: none;
}

.wrapper.casting .iframe {
  display: block;
}

.wrapper.casting .details {
  display: none;
}

.large {
  font-size: 42px;
}
